@use '../abstracts' as *;

.saved {
    width: 21rem;
    height: 15.625rem;
    border-radius: 30px;
    background: $primary;
    @include flex(center, start);
    flex-direction: column;

    &__header {
        width: 85%;
        margin-top: 1.2rem;
        @include flex(center, space-between);

        &__text {
            font-size: 1.4rem;
            font-weight: 500;
        }

        &__button {
            background: $primary;
            border: none;
            cursor: pointer;
        }
    }

    &__deposit {
        margin-top: 0.5rem;
        width: 85%;
        height: 4rem;
        @include flex(center, start);
        position: relative;

        &__circle {
            @include flex(center, center);
            background: $dark-blue;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;

            img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        &__text {
            margin-left: 0.5rem;
            color: $gray;

            &__principal {
                font-size: 2rem;
            }

            &__dependent {
                position: relative;
                bottom: 0.5rem;
                font-size: 0.9rem;
                font-weight: 400;
                color: $dark-gray;
            }
        }

        &__pin {
            position: absolute;
            right: 0;
            top: 1rem;
        }
    }

    &__saving {
        @include flex(center, start);
        margin-top: 1rem;
        width: 100%;
        border-radius: 0 0 30px 30px;
        height: 7rem;
        background: $green;

        &__circle {
            margin-left: 1.5rem;
            @include flex(center, center);
            width: 3.125rem;
            height: 3.125rem;
            background: #C3FFED;
            border-radius: 50%;
        }

        &__deposit {
            margin-left: 0.5rem;
            
            &__number {
                font-weight: 400;
                font-size: 2rem;

                b {
                    font-weight: 400;
                    font-size: 1.2rem;
                }
            }

            &__text {
                position: relative;
                font-weight: 300;
                bottom: 0.5rem;
                font-size: .9rem;
            }

        }
    }

}
