@use '../abstracts' as *;

.percents {
    width: 51rem;
    height: 21rem;
    margin: 1rem 0 0 0;
    @include flex(center, space-between);
    background: $white;
    border-radius: 30px;

    @include responsive(tablet-landscape){
        width: 51rem;
        margin-bottom: 2rem;
    }

    @include responsive(tablet-portrait){
       width: 35rem;
       height: 50rem;
       flex-direction: column;
    }

    &__transactions {
        border-right: 1px solid lightgray;
        height: 21rem;
        width: 28rem;

        @include responsive(tablet-portrait){
            height: 25rem;
            width: 35rem;
            border-bottom: 1px solid $gray;
        }

        &__hero {
            margin: 1rem;
            @include flex(center, space-between);
            height: 3rem;

            &__title {
                font-size: 1.5rem;
                font-weight: 600;

                @include responsive(tablet-portrait){
                    font-size: 2rem;
                }
            }

            &__arrow {
                border: none;
                cursor: pointer;
                background: $white;

                svg {
                    font-size: 1.6rem;
                    color: $gray;

                    @include responsive(tablet-portrait){
                       font-size: 2rem
                    }
                }
            }
        }
    }

    &__register {
        @include flex(center, center);
        margin: 1rem;
        height: 70%;

        &__note {
            color: $gray;
            text-align: center;

            @include responsive(tablet-portrait){
                font-size: 1.5rem;
            }
        }
    }

    &__picture {
        width: 23rem;
        height: 21rem;

        @include responsive(tablet-portrait){
            @include flex(center, center);
            flex-direction: column;
            height: 25rem;
        }

        &__title {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: 1.5rem;

            @include responsive(tablet-portrait){
                margin-top: 0;
                font-size: 2rem;
                width: 35rem;
            }
        }

        &__background {
            @include flex(center, center);
            width: 20rem;
            height: 17rem;
            margin: 0 auto;
            border-radius: 30px;
            background: $body-bg;

            @include responsive(tablet-portrait){
                width: 25rem;
                height: 20rem;
                margin-bottom: 1rem;
            }
        }
    }
}
