@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font: 'Poppins', sans-serif;

$body-bg: #212529;

$primary: #272B2F;
$white: #FFF;
$gray: #C1C1C1;
$green: #21BF73;
$dark-green: #007042;
$dark-gray: #6C6D71;
$dark-red: #622929;
$red: #F35B51;
$dark-blue: #264498;
$black: #0000;

